* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    color: #212529;
    text-align: left;
    font-weight: 400;
}

h2 , h4 , h5 {
    font-weight: 400;
}

body a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.3%;
}

header li {
    list-style-type: none;
    display:inline-block;
    padding: 5px;
    font-size: 12px;
}

.joinus-btn , .discover-btn , .about-us-btn {
    font-size: 14px;
    padding: 16px 36px 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    letter-spacing: 2px;
    display: inline-block;
    color: #ffffff;
    background: #5768AD;
}

.img-container {
    width: 100%;
    height: 873px;
    background-position:top center;
    margin-top: 1.3%;
    padding-top: 1.3%;
}

.nav-header a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 5px 0;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}
.menu-header {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
}

.dropdown-content  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    left: 0;
    top: 50px;
    width: 180px;
    transition: all, 0.3s;
    padding: 5px 0;
}

.dropdown-content a {
    padding: 6px 15px;
    font-weight: 500;
    font-size: 15px;
    color: #222222;
}

.dropdown:hover .dropdown-content  {
  display: block;
}

.socialm-header a {
    display: inline-block;
    font-size: 14px;
    margin-left: 25px;
 
}
.socialm-header {
    flex: 1;
    text-align: right;
}


.header-text h4 {
    font-size: 16px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.header-text h2 {
    font-size: 70px;
    color: white;
    line-height: 80px;
    margin: 0px;
    margin-bottom: 50px;
}


.header-text   {
    margin-top: 180px;
    width: 60%;
}

.home-about {
    padding: 100px 0px 0px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    color: #404D80;
}

 .home-about-imgs {
    display: flex;
}

.home-about-imgs  .first-img {
    margin-right: 16px;
}
.home-about-imgs .last-img {
    margin-top: 16px;
    height: 50%;
}

.home-about-imgs img {
    min-width:43%;
}

.home-about-text img {
    margin-top: 40px ;
}
    
.home-about-text h2 {
    font-size: 44px;
    margin: 34px 0px 30px;
    color: #263246;
}

.home-about-text span {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
}

.home-about-text p {
    font-size: 16px;
    color: #6E7580;
    line-height: 26px;
    margin: 0 0 15px 0;
}

.home-about-text .para-2 {
    margin-bottom: 40px;
}

.services {
    padding: 100px 0px 0px;
}

.services-title {
    width: 100%;
    text-align: center;
}
.services-title img {
    margin: 0 auto;
}
.services-title h2 {
    font-size: 44px;
    color: #263246;
    margin: 34px 0px 40px 0px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services__item {
    text-align: center;
    padding: 40px 15px 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 65px rgba(12, 26, 39, 0.05);
    margin: 0px 10px 30px 10px;
    background: #ffffff;
    width: 15%;
}

.services__item h5 {
    font-size: 20px;
    color: #263246;
    margin-top: 35px;
    margin-bottom: 12px;
}

.services__item p {
    color: #6E7580;
    margin-bottom: 0px;
}


@media only screen and (max-width: 1251px) {
    .container {
        width: 95%;
    }

    .home-about-imgs img {
        width: 90%;
    }

    .services__item {
        width: 30%;
    }
}