* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    color: #212529;
    text-align: left;
    font-weight: 400;
}

h2 , h4 , h5 ,h6{
    font-weight: 400;
}

body a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.3%;
}

header li {
    list-style-type: none;
    display:inline-block;
    padding: 5px;
    font-size: 12px;
}

.joinus-btn , .discover-btn , .about-us-btn {
    font-size: 14px;
    padding: 16px 36px 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    letter-spacing: 2px;
    display: inline-block;
    color: #ffffff;
    background: #5768AD;
}

.img-container {
    width: 100%;
    height: 873px;
    background-position:top center;
    margin-top: 1.3%;
    padding-top: 1.3%;
}

.nav-header a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 5px 0;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}
.menu-header {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
}

.dropdown-content  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    left: 0;
    top: 50px;
    width: 180px;
    transition: all, 0.3s;
    padding: 5px 0;
}

.dropdown-content a {
    padding: 6px 15px;
    font-weight: 500;
    font-size: 15px;
    color: #222222;
}

.dropdown:hover .dropdown-content  {
  display: block;
}

.socialm-header a ,.footer-copyright-socialm a {
    display: inline-block;
    font-size: 14px;
    margin-left: 25px;
}
.socialm-header {
    flex: 1;
    text-align: right;
}


.header-text h4 {
    font-size: 16px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.header-text h2 {
    font-size: 70px;
    color: white;
    line-height: 80px;
    margin: 0px;
    margin-bottom: 50px;
}


.header-text   {
    margin-top: 180px;
    width: 60%;
}

.home-about {
    padding: 100px 0px 0px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    color: #404D80;
}

 .home-about-imgs {
    display: flex;
}

.home-about-imgs  .first-img {
    margin-right: 16px;
}
.home-about-imgs .last-img {
    margin-top: 16px;
    height: 50%;
}

.home-about-imgs img {
    min-width:43%;
}

.home-about-text img {
    margin-top: 40px ;
}
    
.home-about-text h2 {
    font-size: 44px;
    margin: 34px 0px 30px;
    color: #263246;
}

.home-about-text span {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
}

.home-about-text p {
    font-size: 16px;
    color: #6E7580;
    line-height: 26px;
    margin: 0 0 15px 0;
}

.home-about-text .para-2 {
    margin-bottom: 40px;
}

.services-title {
    width: 100%;
    text-align: center;
}
.services-title img {
    margin: 0 auto;
}
.services-title h2 {
    font-size: 44px;
    color: #263246;
    margin: 34px 0px 40px 0px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services__item {
    text-align: center;
    padding: 40px 15px 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 65px rgba(12, 26, 39, 0.05);
    margin: 0px 10px 30px 10px;
    background: #ffffff;
    width: 15%;
}

.services__item h5 {
    font-size: 20px;
    color: #263246;
    margin-top: 35px;
    margin-bottom: 12px;
}

.services__item p {
    color: #6E7580;
    margin-bottom: 0px;
}

.why-choose-us {
    background: #f5f6fa;
    padding: 100px 0px 20px;
}

.why-choose-us .container {
    display: flex;
}

.choose-us-header {
    margin-bottom: 60px;
}
.choose-us-header h2 {
    font-size: 44px;
    color: #263246;
    margin-bottom: 6px;
}

.choose-us-header p {
    font-size: 16px;
    color: #6E7580;
    font-weight: 400;
    line-height: 26px;
}

.choose-us-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 15px;
}

.choose-item {
    display: flex;
    width: 50%;
}

.choose-item-ico {
    margin: 0px 25px 80px 0px ;
}

.choose-item-text h2 {
    font-size: 48px;
    color: #263246;
    line-height: 45px;
    margin-bottom: 2.5px;
    margin-top: -4px;
}

.choose-item-text p {
    font-size: 18px;
    margin-bottom: 0;
    color: #9B9EA3;
}

.choose-us-img img {
    padding: 0px 15px;
}

.courses-header {
    text-align: center;
    margin-bottom: 50px;
}

.courses-header h2 {
    margin-bottom: 20px;
    color: #263246;
    font-size: 44px;
}

.courses-header p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    color: #9B9EA3;
}

.corses-itemss {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses-item {
    width: 31.5%;
    margin-bottom: 20px;
}

.courses-item-img {
    height: 241px;
    position: relative;
    background-size: cover;
}

.courses-item-img span {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
    padding: 7px 16px 4px;
    background: #5768AD;
    position: absolute;
    left: 0;
    top: 10px;
}

.courses-item-text {
    padding: 24px 0px 28px 30px;
    box-shadow: 0px 0px 65px rgba(12, 26, 39, 0.05);
}

.courses-item-text p {
    color: #9B9EA3;
    margin-bottom: 10px;
    font-size: 16px;
}

.courses-item-text h4 {
    margin-bottom: 50px;
    font-size: 24px;
}

.courses-item-text h6 {
    color: #001943;
    margin-bottom: 35px;
    font-size: 16px;
}

.courses-item-text a {
    color: #001943;
}

.courses-item-text .join-now-btn{
    font-size: 14px;
    font-weight: 700;
    color: #5768AD;
    display: inline-block;
    border: 1px solid rgba(155, 158, 163, 0.2);
    padding: 10px 20px 7px;
    border-radius: 2px;
    transition: all 0.4s;
}
.join-now-btn:hover {
    background-color:#5768AD;
    color: white;
}

.courses-item-text h6 span {
    color: #9B9EA3;
    font-size: 14px;
}

.gallery ,.instructors , .testimonial ,.services{
    padding: 60px 0px 70px;
}
.gallery-header  h2 , .instructors-header h2 {
    font-size: 44px;
    text-align: center;
    color: #263246;
    margin-bottom: 20px;
}

.gallery-header p , .instructors-header p {
    color: #9B9EA3;
    text-align: center;
    margin-bottom: 40px;
}

.gallery-imgs ,.instructors-itemss{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-auto-flow: dense;
}

.gallery-imgs img ,.instructors-item img{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.instructors-item {
    padding: 0px 15px;
    text-align: center;
}

.instructors-item-text h5 {
    font-size: 18px;
    margin-bottom: 8px; 
}

.instructors-item-text span {
    font-size: 14px;
    color: #9B9EA3;
}

.appointment {
    background: #5768AD;
    padding: 60px 100px;
    margin-bottom: 70px;
}

.appointment-header {
    text-align: center;
}

.appointment-header img {
    margin: 0px auto;
}

.appointment-header h2 {
    color: white;
    font-size: 44px;
    margin: 34px 0 50px;
}

.appointment-form input  ,.appointment-form input:focus {
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    padding-left: 28px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none; 
}

.appointment-form input::placeholder {
    color: white;
}

.appointment-form   {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 27px;
}

.appointment-form-msg {
    grid-column: span 2;
}
.appointment-form-msg input , .appointment-form-msg input:focus {  
    height: 100px;
}

.appointment-form button ,.appointment-form button:checked {
    font-size: 14px;
    color: #5768AD;
    display: inline-block;
    background: #ffffff;
    padding: 14px 35px 12px;
    border-radius: 2px;
    border: none;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 13px auto 0px;
    grid-column: span 2;
    outline: none;
}

/*custom select boxes  */
.custom-select {
    position: relative;
  }
  
  .custom-select select {
    display: none; 
  }
  
  .select-selected {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding-left: 28px;
    border-radius: 2px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none; 

  }
  
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 16px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  .select-items {
    position: absolute;
    color: #ffffff;
    background:#263246;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 3;
  }
  
  .select-hide {
    display: none;
}

.testimonial {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
}

.testimonial-item::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: '"';
    color: #5768AD;
    font-size: 120px;
    line-height: 185px;
    margin: 0 auto;
}

.testimonial-item  {
    width: 100%;
    margin: 0 auto;
}

.testimonial-item  p {
    font-size: 36px;
    color: #263246;
    line-height: 48px;
    margin: 95px 0px 35px;
}

.testimonial-item h5 {
    font-size: 20px;
    color: #263246;
    font-weight: 700;
    margin-top: 15px;
}

.testimonial-item span {
    font-size: 18px;
    color: #9B9EA3;
    font-weight: 400;
}

.dot {
    cursor: pointer;
    height: 9px;
    width: 9px;
    margin: 0 10px;
    background-color:#8a8e9e; 
    border-radius: 50%;
    display: inline-block;
    font-size: 160px;
    line-height: 119px;
    position: relative;
}

.active {
    background-color:#5768AD;
}

 .active::after {
    position: absolute;
    left: -7.5px;
    top: -7px;
    height: 20px;
    width: 20px;
    border: 2px solid #8a8e9e;
    border-radius: 50%;
    content: "";
}

.dot-container {
    margin: 0 auto;
}

footer {
    padding-top: 70px;
    margin-top: 20px;
    background: #263246;
    color: wheat;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    width: 20%
}

.footer-info {
    width: 28%;
    margin-right: 8%;
}

.footer h5 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 0px;

}

.footer ul {
    padding: 0px;
}

.footer li {
    color: #9B9EA3;
    line-height: 37px;
    font-size: 16px;
    list-style: none;
}

.footer li a {
    font-size: 16px;
    color: #9B9EA3;
    line-height: 37px;
}

.footer  .far {
    color: #5768AD;
    margin-right: 5px;
}

.footer-contact  i {
    color: #9B9EA3;
    margin-right: 5px;
}

.footer-info input {
    width: 90%;
    height: 50px;
    font-size: 14px;
    color: #999999;
    background: rgba(250, 250, 250, 0.1);
    border: none;
    border-radius: 2px;
    padding-left: 22px;

}

.footer-info form {
    display: flex;
}
.footer-info button {
    font-size: 20px;
    height: 50px;
    padding: 5px 15px;
    display: inline-block;
    background: #5768AD;
    border: none;
    color: #ffffff;
}


.footer-copyright {
    border-top: 1px solid rgba(225, 225, 225, 0.1);
    overflow: hidden;
    padding: 15px 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-copyright-text {
    width: 50%;
}

.footer-copyright p {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    color: #6e7580;
}

.footer-copyright a {
    color: #5768AD;
}

.footer-copyright .fa-heart {
    color: #a11f1f;
    display: inline-block;
}
.footer-copyright-socialm a {
    color: white;
}

@media only screen and (max-width: 1251px) {
    .container {
        width: 95%;
    }

    .home-about-imgs img {
        width: 90%;
    }

    .services__item {
        width: 30%;
    }

    .choose-us-img img {
        width: 450px;
    }

}
